:root {
    --font-1: "Hind Vadodara";
    --font-2: "Open Sans";
    --col-yellow: #FFC300;
    --col-blue: #001D3D;
}

* {
    margin: 0;
    padding: 0;
}

a:hover {
    color: gray;
    font-size: 26px;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    font-family: var(--font-2);
    background-color: black;
    z-index: 12;
}

nav {
    width: 50%;
    max-width: 500px;
    height: 50px;
    color: wheat;
}

nav>ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    font-size: 20px;
}

nav>ul>li {
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

.main {
    margin: 40px 40px 40px 40px;
    border: 1px solid black;
}

.shape {
    border: 1px solid transparent;
    width: 600px;
    height: 600px;
    margin: 80px auto auto auto;
}

.welcome-section {
    background-color: var(--col-yellow);
    margin-top: -20px;
    height: 685px;
}

.square {
    background-color: blue;
    height: 120px;
    width: 120px;
    margin: 240px 180px auto;
    position: absolute;
    z-index: 4;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 79px solid transparent;
    border-right: 79px solid transparent;
    border-top: 80px solid transparent;
    border-bottom: 130px solid #931AF2;
    /* margin: 40px 240px 40px; */
    position: absolute;
    margin-top: 180px;
    margin-left: 240px;
    z-index: 3;
}

.circle {
    border: 1px solid black;
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin-left: 230px;
    margin-top: 135px;
    background-color: #000814;
    z-index: 2;
}

.welc-text {
    font-family: var(--font-1);
    margin: 116px auto auto auto;
    text-align: center;
    color: white;
    font-size: 32px;
    text-shadow: 1px 1px 36px #2f2e2e;
}

.projects {
    background-color: var(--col-blue);
    width: 100%;
    height: 785px;
}

.sect-head {
    font-size: 64px;
    font-family: var(--font-2);
    color: white;
    margin-left: 100px;
    padding-top: 60px;
}

.line1 {
    width: 290px;
    margin-left: 100px;
    height: 4px;
    background-color: white;
}

.line2 {
    margin-top: 15px;
    margin-left: 100px;
    width: 200px;
    height: 4px;
    background-color: white;
}

.cards-container {
    /* border: 1px solid black; */
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-child {
    width: 316px;
    height: 422px;
    border-radius: 6%;
    /* border: 1px solid black; */
    background-color: #003566;
    box-shadow: rgb(35, 24, 91) 0px 0px 16px;
}

.img-container {
    width: 316px;
    height: 422px;
    overflow: hidden;
}

.img-container img {
    object-fit: cover;
    overflow: hidden;
    border-radius: 6% 6% 0% 0%;
    object-position: 40% 80%;
    width: 100%;
    height: 70%;
}

.proj-title {
    font-size: 32px;
    font-family: var(--font-2);
    color: white;
    z-index: 2;
    /* border: 1px solid black; */
    margin-left: 12px;
    margin-top: 4px;
}

.proj-desc {
    font-size: 12px;
    margin: 0px 12px;
    font-family: var(--font-2);
    color: white;
}

.img-container a:hover {
    font-size: 32px;
}

.tba {
    text-align: center;
    font-family: var(--font-1);
    font-size: 195px;
    color: white;
}

.blank {
    background-color: #0075E2;
    padding-top: 6px;
    border-radius: 6% 6% 0% 0%;
}

.about-sect {
    background-color: var(--col-yellow);
    width: 100%;
    height: 732px;
}

.about-head {
    color: var(--col-blue)
}

.abt-line {
    background-color: var(--col-blue);
    border: none;
}

.abt-container {
    margin: 60px 148px 60px 224px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 200px;
    grid-template-areas:
        "\.abt-img img-desc img-desc"
}

.abt-img {
    border-radius: 140%;
    border: 7px solid var(--col-blue)
}

.img-desc {
    /* border: 1px solid black; */
    width: 691px;
    height: 271px;
    margin-top: 75px;
}

.owner-desc {
    font-family: var(--font-2);
    font-size: 28px;
    font-weight: 600;
}

#contact {
    width: 100%;
    height: 400px;
    background-color: var(--col-blue);

}

#contact h2 {
    color: var(--col-yellow);
}

#contact hr{
    background-color: white;
}

.social-desc {
    font-family: var(--font-2);
    color: white;
    font-size: 24px;
}

.socials {
    margin-left: 100px;
    margin-top: 20px;
}

.social-medias {
    margin-top: 20px;
    width: 60%;
    height: 150px;
    /* border: 1px solid white; */
    margin-right: 20px;
    display: flex;
}

.discord {
    color: white;
    /* border: 1px solid white; */
    /* display: flex; */
}

.icons {
    float: left;
    font-size: 36px;
    color: #8379FF;
}

.social-username {
    margin-left: 20px;
    font-family: var(--font-1);
    float: left;
    font-size: 24px;
    color: white;
}

.fa-github {
    font-size: 40px;
}

.discord, .email, .github {
    margin-right: 24px;
    margin-top: 24px;
}

.social-medias a:hover {
    font-size: 24px;
}